body{
   background-color:#2f4538;
}
h1{
   color:goldenrod; text-align:center;
}
h2{
    color: goldenrod;font-family: Georgia, 'Times New Roman', Times, serif; 
}
pre{
   color:#a56204; font-size:20px;
}